<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139710231872-0jeou5ur1fmv9bvg0d5msdigloccegbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139710231872-0jeou5ur1fmv9bvg0d5msdigloccegbq</string>
	<key>API_KEY</key>
	<string>AIzaSyAzgHitbFV6Wl-uiHdDhp2HFBT1-u7X1Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>139710231872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Muratsaglam.SnapChat-FireBase2022</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-571ad</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-571ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139710231872:ios:8e03a45ab498b409d9f6a5</string>
</dict>
</plist>